body {
    background-color: #EEEEEE;
}

h1 {
    color: #141E61;
    font-family: 'Gamja Flower', cursive;
    font-size: 60px;
    text-align: center;
}

.ratTitle {
    font-size: 45px;
}

.minefield {
    display: flex;
    justify-content: center;
    position: relative;
}

#gameoverMsg {
    animation: fadeIn 3s;
    backdrop-filter: blur(6px);
    color: #EEEEEE;
    display: none;
    font-family: 'Gaegu', cursive;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    line-height: 560px;
    height: 566px;
    width: 566px;
}

@keyframes fadeIn {
    0% {backdrop-filter:blur(0);}
    100% {backdrop-filter:blur(6px);}
  }

.container {
    border: 3px solid #996633;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: absolute;
    height: 560px;
    width: 560px;
    z-index: -1;
}

.container div {
    border: 3px outset #996633;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container div:hover {
    opacity: 0.5;
}

div[class*="clicked"] {
    background-color: #996633;
    background-image: url("mud.jpg");
    background-size: cover;
}

div[class*="exploded"] {
    background-color: #996633;
    background-image: url("explode.jpg");
    background-size: cover;
}

.void {
    background-color: #8BB312;
    background-image: url("tile.jpg");
    background-size: cover;
}

.bomb {
    background-color: #996633;
    background-image: url("mud.jpg");
    background-size: cover;
}


div[totalbombsaround="1"] {
    color: #ffd3d1;

}

div[totalbombsaround="2"] {
    color: #eed2ff

}

div[totalbombsaround="3"] {
    color: #bcc1ff;
}

div[totalbombsaround="4"] {
    color: #ffb4b8;
}

div[totalbombsaround="5"] {
    color: rgb(255, 228, 177);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  #audiobtn {
    background-color: rgb(219, 219, 219);
    border-radius: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    color: #141E61;
    font-family: 'Gaegu', cursive;
    font-size: 26px;
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


#audiobtn:hover {
    background-color: rgb(252, 252, 252);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    cursor:pointer;
}

.timer {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 35px;
    height: 50px;
    width: 200px;
}

/* .highscore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 50px;
    width: 200px;
} */

.timer p {
    color: #141E61;
    font-family: 'Gaegu', cursive;
    font-size: 35px;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scorerat {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: auto;
    grid-template-areas: 
    "rat highscore";
    margin-left: auto;
    margin-right: auto;
}

.highscore, .rat{
    color: #141E61;
    font-family: 'Gaegu', cursive;
    font-size: 30px;
}