body {
    background-color: #EEEEEE;
}

h1 {
    color: #141E61;
    font-family: 'Gamja Flower', cursive;
    font-size: 60px;
    text-align: center;
}

.ratTitle {
    font-size: 45px;
}

.container {
    border: 3px solid #996633;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 560px;
    width: 560px;
}

.container div {
    border: 3px outset #996633;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container div:hover {
    opacity: 0.5;
}

div[class*="clicked"] {
    background-color: #996633;
    background-image: url("mud.jpg");
    background-size: cover;
}

div[class*="exploded"] {
    background-color: #996633;
    background-image: url("explode.jpg");
    background-size: cover;
}

.void {
    background-color: #8BB312;
    background-image: url("tile.jpg");
    background-size: cover;
}

.bomb {
    background-color: #996633;
    background-image: url("mud.jpg");
    background-size: cover;
}


div[totalbombsaround="1"] {
    color: rgb(214, 192, 255);

}

div[totalbombsaround="2"] {
    color: #ffc5e2;

}

div[totalbombsaround="3"] {
    color: rgb(173, 243, 255);
}

div[totalbombsaround="4"] {
    color: rgb(254, 255, 177);
}

div[totalbombsaround="5"] {
    color: rgb(255, 228, 177);
}